{% extends 'pollapp/base.html' %}

{% block content %}

<h1>{{ question.question_text }}</h1>

<p><strong>Created by:</strong> {{ question.user.username }}</p>

{% if user == question.user or user.is_superuser %}
    <a href="{% url 'pollapp:edit_question' question.id %}">
        ✏️ Edit Poll
    </a>
{% endif %}


<hr>

<!-- 🗳️ Voting (everyone can see) -->
<form action="{% url 'pollapp:vote' question.id %}" method="post">
    {% csrf_token %}

    {% for choice in question.choice_set.all %}
        <div>
            <input type="radio" name="choice" value="{{ choice.id }}">
            {{ choice.choice_text }}
        </div>
    {% endfor %}

    <button type="submit">Vote</button>
</form>



{% endblock %}